# Node
node_modules/
npm-debug.log
yarn-error.log
pnpm-lock.yaml
package-lock.json

# Vite / build
dist/
.vite/

# Logs
logs/
*.log

# Environment
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Other
coverage/
